th {
  font-size: 18px;
  text-align: center;
  height: 25px;
}

tr {
  font-size: 16px;
  text-align: center;
  height: 25px;
}

:host ::ng-deep .divider {
  background-color: rgba(0,0,0,.15) !important;
}

.ui-tabs .ui-tabs-panel {
  padding: 5px 5px;
  outline: none;
}