th {
  font-size: 18px;
  text-align: center;
  height: 25px;
}

tr {
  font-size: 16px;
  text-align: center;
  height: 25px;
}

p-tabView {
  height: 100% !important;
  width: 100% !important;
}

.ui-tabs .ui-tabs-panel {
  padding: 5px 5px;
  outline: none;
}